{% load wagtailcore_tags %}

<style>
    form.sf_formblock{padding:1rem; text-align: center;}
    .sf_formblock{padding: .2rem;  text-align: center; }
    form {width: 98%;}
    @supports (-webkit-appearance: none) or (-moz-appearance: none) {
      input[type=checkbox],input[type=radio] {-_active: #275EFE;-_active-inner: #fff;--focus: 2px rgba(39, 94, 254, .3);--border: #BBC1E1;--border-hover: #275EFE;--background: #fff;--disabled: #F6F8FF;--disabled-inner: #E1E6F9;
        -webkit-appearance: none;-moz-appearance: none;height: 21px;outline: none;display: inline-block;vertical-align: top;position: relative;margin: 0 0.6rem;cursor: pointer;
        border: 1px solid var(--bc, var(--border));background: var(--b, var(--background));transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;}
        
      input[type=checkbox]:after,input[type=radio]:after {content: "";display: block;left: 0;top: 0;position: absolute;transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);}
      input[type=checkbox]:checked,input[type=radio]:checked {--b: var(--main_color);--bc: var(--main_color);--d-o: .3s;--d-t: .6s;--d-t-e: cubic-bezier(.2, .85, .32, 1.2);}
      input[type=checkbox]:disabled,input[type=radio]:disabled {--b: var(--disabled);cursor: not-allowed;opacity: 0.9;}
      input[type=checkbox]:disabled:checked,input[type=radio]:disabled:checked {--b: var(--disabled-inner);--bc: var(--border);}
      input[type=checkbox]:disabled + label,input[type=radio]:disabled + label {cursor: not-allowed;}
      input[type=checkbox]:hover:not(:checked):not(:disabled),input[type=radio]:hover:not(:checked):not(:disabled) {--bc: var(--border-hover);}
      input[type=checkbox]:focus,input[type=radio]:focus {box-shadow: 0 0 0 var(--focus);}
      input[type=checkbox]:not(.switch),input[type=radio]:not(.switch) {width: 21px;}
      input[type=checkbox]:not(.switch):after,input[type=radio]:not(.switch):after {opacity: var(--o, 0);}
      input[type=checkbox]:not(.switch):checked,input[type=radio]:not(.switch):checked {--o: 1;}
      input[type=checkbox] + label,input[type=radio] + label {font-size: 14px;line-height: 21px;display: inline-block;vertical-align: top;cursor: pointer;margin-left: 4px;}
      input[type=checkbox]:not(.switch) {border-radius: 7px;}
      input[type=checkbox]:not(.switch):after {width: 5px;height: 9px;border: 2px solid var(-_active-inner);border-top: 0;border-left: 0;left: 7px;top: 4px;transform: rotate(var(--r, 20deg));}
      input[type=checkbox]:not(.switch):checked {--r: 43deg;}
      input[type=checkbox].switch {width: 38px;border-radius: 11px;}
      input[type=checkbox].switch:after {left: 2px;top: 2px;border-radius: 50%;width: 1rem;height: 15px;background: var(--ab, var(--border));transform: translateX(var(--x, 0));}
      input[type=checkbox].switch:checked {--ab: var(-_active-inner);--x: 1rem;}
      input[type=checkbox].switch:disabled:not(:checked):after {opacity: 0.6;}
      input[type=submit] {width: 50%;}
      input[type=radio] {border-radius: 50%;}
      input[type=radio]:after {width: 1.24rem;height: 1.24rem;border-radius: 50%;background: var(-_active-inner);opacity: 0;transform: scale(var(--s, 0.7));}
      input[type=radio]:checked {--s: .5;}
    }
    ul {margin: 12px;padding: 0;list-style: none;width: 100%;}
    ul li {margin: 1rem 0;position: relative;}
    ul * {display: flex;float: left;margin: 0 0.6rem;box-sizing: border-box;}

    input {padding:.3rem;width:100%;outline: none;border: none;border-bottom: 1px solid;border-color:var(--main_color);border-radius:10px;}

    textarea:focus, input:focus {box-shadow: 0 2px 6px var(--main_color);}
    textarea {padding:5px;margin:5px;width:100%;outline: none;border: none;border-bottom: 1px solid;border-color:var(--main_color);border-radius:10px;box-shadow: 0 2px 4px var(--main_color);}
    .input-field {width: 97%;}
    .help{opacity:0.6;}
    .container {width: 100%;  display: -webkit-box;display: -webkit-flex;display: -moz-box;display: -ms-flexbox;display: flex;flex-wrap: wrap;justify-content: center;align-items: center;padding: 15px;}
    .form-page {padding: 20px;}
    @media (max-width: 800px) {body {flex-direction: column;}}
</style>

{% if value.show_title %} <h3 class="sf_formblock">{{ value.form.title }}</h3>{% endif %}
<form{% if form.is_multipart %} enctype="multipart/form-data"{% endif %} class="sf_formblock" action="{{ value.form_action }}" method="post" novalidate>
    {{ form.media }}
    {% csrf_token %}
    {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}
    {% for field in form.visible_fields %}
        {% include 'streamforms/partials/form_field.html' %}
    {% endfor %}
    <input type="submit" value="{{ value.form.submit_button_text }}">
</form>