{% load wagtailcore_tags %}

{% now 'YmdH' as n %} 
{% if not self.el_style.live.s_at or self.el_style.live.s_at|date:"YmdH" < n and not self.el_style.live.e_at or self.el_style.live.e_at and self.el_style.live.e_at|date:"YmdH" > n %}

<style>
        #{{ self.el_style.el_id }}:hover {
                {% if self.el_style.hover_styling.h_text_align %} text-align:{{self.el_style.hover_styling.h_text_align}} !important;{% endif %}
                {% if self.el_style.hover_styling.h_padding %} padding:{{self.el_style.hover_styling.h_padding}} !important; {% endif %}
                {% if self.el_style.hover_styling.h_margin %} margin:{{self.el_style.hover_styling.h_margin}} !important; {% endif %}
                {% if self.el_style.hover_styling.h_font_size %} font-size:{{self.el_style.hover_styling.h_font_size}} !important; {% endif %}
                {% if self.el_style.hover_styling.h_width %}width:{{self.el_style.hover_styling.h_width}} !important; {% endif %}
                {% if self.el_style.hover_styling.h_height %}height:{{self.el_style.hover_styling.h_height}} !important;{% endif %}
                {% if self.el_style.hover_styling.h_b_radius %} border-radius:{{self.el_style.hover_styling.h_b_radius}} !important;{% endif %}
                {% if self.el_style.hover_styling.h_b_top %} border-top:{{self.el_style.hover_styling.h_b_top}} !important;{% endif %}
                {% if self.el_style.hover_styling.h_b_right %} border-right:{{self.el_style.hover_styling.h_b_right}} !important;{% endif %}
                {% if self.el_style.hover_styling.h_b_bottom %} border-bottom:{{self.el_style.hover_styling.h_b_bottom}} !important;{% endif %}
                {% if self.el_style.hover_styling.h_b_left %} border-left:{{self.el_style.hover_styling.h_b_left}} !important;{% endif %}
                {% if self.el_style.hover_styling.h_box_shadow %} box-shadow: {{self.el_style.hover_styling.h_box_shadow}} !important;{% endif %}
                {% if self.el_style.hover_styling.h_color %} color: {{self.el_style.hover_styling.h_color}}{{self.el_style.hover_styling.h_color_opacity}} !important;{% endif %}
                {% if self.el_style.hover_styling.h_use_bg_color %} background-color:{{self.el_style.hover_styling.h_bg_c}}{{self.el_style.hover_styling.h_bg_color_opacity}} !important;{% endif %}
        }
</style>
{% if self.el_style.el_pg_link %} <a href="{{self.el_style.el_pg_link.url}}" class="link" {% if self.el_style.new_tab %} target="_blank" {% endif %} >
{% elif self.el_style.el_url_link %} <a href="{{self.el_style.el_url_link}}" class="link" {% if self.el_style.new_tab %} target="_blank" {% endif %} >
{% endif %} 
        <div 
                class="slt_container block_heading {% include 'includes/mobile_desktop.html' %} {{self.el_style.el_class}}" 
                {% if self.el_style.el_id %} id="{{self.el_style.el_id}}" {% endif %}
                {% if self.el_style.hover_styling.title %} title="{{ self.el_style.hover_styling.title }}" {% endif %}
                style="{% include 'includes/element_style.html' %}"
        >
                {{ self.heading_text }} 
        </div>    
</a>

{% endif %}  
