
<style>
  .twb .words {display: inline-block}
  .words b {display: inline-block;position: absolute;white-space: nowrap;left: 0;top: 0; }
  .words b.is-visible {position: relative; }
  .twb b {opacity: 0; border-right: 2px solid;padding-right: 5px;}
  .twb b.is-visible {opacity: 1; }
</style>

<div class="mt-15 mb-15 twb is-full-width {% include 'includes/mobile_desktop.html' %} {{self.el_style.el_class}}"
id="{{self.el_style.el_id}}" 
{% if self.el_style.hover_styling.title %} title="{{ self.el_style.hover_styling.title }}" {% endif %}
style="{% include 'includes/element_style.html' %}"
>
  <span class="words">
    {% for w in self.words %}
      <b class=" {% if forloop.counter == 1 %}is-visible{% endif %} ">{{ w.w }}</b>
    {% endfor %}
  </span>
</div>

<script>
  jQuery(document).ready(function ($) {
      var $targettedBlock = $('#{{self.el_style.el_id}}');
      function initHeadline() {singleLetters($($targettedBlock).find('b')); animateHeadline($($targettedBlock), {{ self.delay }});}
      function singleLetters($words) {$words.each(function () {var word = $(this), selected = word.hasClass('is-visible');});}
      function animateHeadline($tb, $du) {$tb.each(function () {setTimeout(function () {hideWord($tb.find('.is-visible').eq(0))}, $du);});}
      function hideWord($word) {$word.parents('.words').animate({width: '1px'}, {{ self.l_ch_s }}, function () {switchWord($word, takeNext($word));showWord(takeNext($word));});}
      function showWord($word, $duration) {$word.parents('.words').animate({'width': $word.width() }, {{ self.l_ch_s }}, function () {setTimeout(function () {hideWord($word)}, {{ self.k_t }});});}
      function takeNext($word) {return (!$word.is(':last-child')) ? $word.next() : $word.parent().children().eq(0);}
      function switchWord($oldWord, $newWord) {$oldWord.toggleClass('is-visible');$newWord.toggleClass('is-visible');}
      initHeadline();
  });
</script>