{% load wagtailimages_tags wagtailcore_tags %}
<style>
    :root {--color-one: #34D1D1;--color-two: #2F2235;--color-three: #3F3244;--color-four: #F2F2F2;--color-five: #D1D2D3;--color-six: #666666;--color-seven: #000000;--color-eight: #ffffff;}

    .hor_a_accordion {display: flex;flex-wrap: wrap;height: auto;width: 100%;box-shadow: 0 0 3px;}
    .hor_a_accordion__content {order: 1;flex-grow: 1;width: 100%;height: 100%;display: none;transition: 0.4s;}
    .hor_a_accordion__label {display: block;cursor: pointer;flex-grow: 1;text-align: center;padding: 1% 5% 1% 5%;background-color: var(--color-four);margin-right: 1px;border-bottom: 1px solid var(--color-five);}
    .hor_a_accordion__radio {display: none;}
    .hor_a_accordion input[type="radio"] {display: none;}
    .hor_a_accordion input[type="radio"] + label {color: var(--main_color);z-index: 1;}
    .hor_a_accordion input[type="radio"] + label:hover {background-color: var(--second_bg_color, #fff);transition: 0.4s;}
    .hor_a_accordion input[type="radio"]:checked + label {background-color: var(--main_bg_color ,#fff);font-weight: 900;border-top: 1px solid var(--color-five);border-left: 1px solid var(--color-five);border-right: 1px solid var(--color-five);border-bottom: none;}.hor_a_accordion input[type="radio"]:checked + label + .hor_a_accordion__content {display: flex;margin-right: 0;border-left: 1px solid var(--color-five);border-right: 1px solid var(--color-five);border-bottom: 1px solid var(--color-five);}

    .hor_a_accordion__content__text {margin: 1%;transition: 0.4s;}
    .hor_a_accordion__content__text__title {margin-top: 3%;transition: 0.4s;}
    .hor_a_accordion__content__text__horizontal-line {border: none;border-bottom: 1px solid var(--color-five);margin-right: 2%;}
    .hor_a_accordion__content__text__body {margin-top: 2%;padding-right: 5%;transition: 0.4s;}
    .hor_a_accordion__content__text__body li {list-style: unset;}

    @media (max-width: 900px){
        .hor_a_accordion {border: 1px solid var(--color-five);}
        .hor_a_accordion_tab__status {display: inline;}
        .hor_a_accordion__content,.hor_a_accordion__label{order: initial;}
        .hor_a_accordion__content {flex-direction: column;}
        .hor_a_accordion__label {width: 100%;margin-right: 0;margin-bottom: 1px;display: flex;justify-content: space-between;font-size: 1.2em;padding: 5% 6% 5% 6%;}
        .hor_a_accordion__label:last-child {background-color: magenta;}
        .hor_a_accordion__content__text {font-size: 0.9em;margin: 4% 5% 4% 5%;}
        .hor_a_accordion__content__text__title {margin: 2% 0 2% 0;}
        .hor_a_accordion__content__text__horizontal-line {width: 100%;}
        .hor_a_accordion input[type="radio"] + label span:after  {content: '+';}
        .hor_a_accordion input[type="radio"]:checked + label span:after  {content: '—';}
        .hor_a_accordion input[type="radio"]:checked + label {border: none; }
        .hor_a_accordion input[type="radio"]:checked + label + .hor_a_accordion {border: none;  }
        .hor_a_accordion input[type="radio"]:checked + label + .hor_a_accordion__content {border: none;}
    }
</style>
<div class="hor_a_accordion">
    {% for item in self.tabs.tab %}

        <input class="hor_a_accordion__radio"  type="radio" name="hor_a_accordion_tabs_{{self.overall_title|slugify|cut:'/'}}" id="tab_{{item.title.heading_text|slugify|cut:'/'}}_{{self.overall_title|slugify|cut:'/'}}" {% if forloop.counter == 1 %} checked {% endif %}/>
        <label class="hor_a_accordion__label" style="{% if item.is_bidi %}direction:rtl !important;unicode-bidi:isolate !important;text-align:right !important;{% endif %}"  for="tab_{{item.title.heading_text|slugify|cut:'/'}}_{{self.overall_title|slugify|cut:'/'}}">
        {% if item.title.heading_text %}{{item.title.heading_text}} {% endif %}
        </label>

            <div class="hor_a_accordion__content hor_a_accordion__content__text" style="">
                {% include_block item.body %} 
            </div>
    {% endfor %}
</div>